body {
    color: black;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.highlight-color {
    color: #f4524e;
}

.small-font {
    font-size: 0.7em;
}

.normal-font {
    font-size: 0.9em;
}

.big-font {
    font-size: 1.3em;
    font-weight: 300;
}

.medium-font {
    font-weight: 500;
}

.bold-font {
    font-weight: 700;
}