html {
    height: 100%;
}

body {
    display: flex;
    background: url('assets/1920x1200/background_1920x1200.jpg') no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.content {
    align-self: flex-start;
    padding: 0;
    width: 100%;
}

.header {
    background: url('assets/1920x1200/logo_neoreeds_big.png') no-repeat center center;
    height: 66px;
    width: 515px;
    margin: 20px 0;
    text-align: left;
}

.description {
    margin: 10vh 6vw 5vh 40vw;
    text-align: left;
}

p {
    margin: 1.5vh 0;
}

.highlight-block-container {
    display: table;
    border-spacing: 2.2vw 0;
    table-layout: fixed;
    height: 15vh;
    width: 100%;
}

.highlight-block {
    border: 1px solid #f4524e;
    border-radius: 50%;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #f4524e;
    min-width: 25%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 1vh 1vw;
}

.actions-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 66px;
    display: table;
    border-spacing: 10px 0;
}

.actions-icon-item {
    height: 50px;
    width: 50px;
    display: table-cell;
}

.linkedin-icon {
    background: url('assets/1920x1200/icone_linkedin_big.png') no-repeat bottom center;
}

.facebook-icon {
    background: url('assets/1920x1200/icone_facebook_big.png') no-repeat bottom center;
}

.twitter-icon {
    background: url('assets/1920x1200/icone_twitter_big.png') no-repeat bottom center;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* hi-res laptops and desktops */
    /* medium size : 1024x768 */
    body {
        background: url('assets/1024x768/background_1024x768.jpg') no-repeat;
    }
    .header {
        background: url('assets/1024x768/logo_neoreeds_small.png') no-repeat center center;
        height: 43px;
        width: 329px;
    }
    .actions-icons {
        height: 43px;
    }
    .actions-icon-item {
        height: 32px;
        width: 32px;
    }
    .linkedin-icon {
        background: url('assets/1024x768/icone_linkedin_small.png') no-repeat bottom center;
    }
    .facebook-icon {
        background: url('assets/1024x768/icone_facebook_small.png') no-repeat bottom center;
    }
    .twitter-icon {
        background: url('assets/1024x768/icone_twitter_small.png') no-repeat bottom center;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    /* hi-res laptops and desktops */
    /* hi-res laptops and desktops */
    /* big size : 1440x900 */
    body {
        background: url('assets/1440x900/background_1440x900.jpg') no-repeat;
    }
    .header {
        background: url('assets/1440x900/logo_neoreeds_medium.png') no-repeat center center;
        height: 50px;
        width: 386px;
    }
    .actions-icons {
        height: 50px;
        border-spacing: 0;
    }
    .actions-icon-item {
        height: 50px;
        width: 50px;
    }
    .linkedin-icon {
        background: url('assets/1440x900/icone_linkedin_medium.png') no-repeat bottom center;
    }
    .facebook-icon {
        background: url('assets/1440x900/icone_facebook_medium.png') no-repeat bottom center;
    }
    .twitter-icon {
        background: url('assets/1440x900/icone_twitter_medium.png') no-repeat bottom center;
    }
}

@media (min-width:1441px) {
    /* hi-res laptops and desktops */
    /* big size : 1920x1080*/
    body {
        background: url('assets/1920x1200/background_1920x1200.jpg') no-repeat;
        /* font-size: 18px;*/
    }
    .header {
        background: url('assets/1920x1200/logo_neoreeds_big.png') no-repeat center center;
        height: 66px;
        width: 515px;
    }
    .actions-icons {
        height: 66px;
        border-spacing: 0;
    }
    .actions-icon-item {
        height: 66px;
        width: 60px;
    }
    .linkedin-icon {
        background: url('assets/1920x1200/icone_linkedin_big.png') no-repeat bottom center;
    }
    .facebook-icon {
        background: url('assets/1920x1200/icone_facebook_big.png') no-repeat bottom center;
    }
    .twitter-icon {
        background: url('assets/1920x1200/icone_twitter_big.png') no-repeat bottom center;
    }
}


/* RETINA */

@media (min-width:1025px) and (min-device-pixel-ratio: 2) {
    /* big landscape tablets, laptops, and desktops */
    /* hi-res laptops and desktops */
    /* hi-res laptops and desktops */
    /* big size */
    body {
        background: url('assets/retina/background_neoreeds_1440x900@x2.jpg') no-repeat;
    }
    .header {
        background: url('assets/retina/logo_neoreeds_with_text_big@x2.png') no-repeat center center;
        height: 211px;
    }
    .chat-icon {
        background: url('assets/retina/chat_icone_big@x2.png') no-repeat center center;
        height: 148px;
    }
}